In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df08=pd.read_csv('all_alpha_08.csv')
df18=pd.read_csv('all_alpha_18.csv')

In [3]:
df08.isnull().sum()

Model                     0
Displ                     0
Cyl                     199
Trans                   199
Drive                    93
Fuel                      0
Sales Area                0
Stnd                      0
Underhood ID              0
Veh Class                 0
Air Pollution Score       0
FE Calc Appr            199
City MPG                199
Hwy MPG                 199
Cmb MPG                 199
Unadj Cmb MPG           199
Greenhouse Gas Score    199
SmartWay                  0
dtype: int64

In [11]:
df08.shape

(2404, 18)

In [10]:
df18.shape

(1611, 18)

In [6]:
dfcl08=pd.read_csv('clean_08.csv')
dfcl18=pd.read_csv('clean_18.csv')

In [7]:
dfcl08.info

<bound method DataFrame.info of                   model  displ  cyl    trans drive      fuel    veh_class  \
0             ACURA MDX    3.7    6  Auto-S5   4WD  Gasoline          SUV
1             ACURA RDX    2.3    4  Auto-S5   4WD  Gasoline          SUV
2              ACURA RL    3.5    6  Auto-S5   4WD  Gasoline  midsize car
3              ACURA TL    3.2    6  Auto-S5   2WD  Gasoline  midsize car
4              ACURA TL    3.5    6  Auto-S5   2WD  Gasoline  midsize car
..                  ...    ...  ...      ...   ...       ...          ...
982         VOLVO XC 90    3.2    6  Auto-S6   2WD  Gasoline          SUV
983         VOLVO XC 90    3.2    6  Auto-S6   4WD  Gasoline          SUV
984         VOLVO XC 90    4.4    8  Auto-S6   4WD  Gasoline          SUV
985  MERCEDES-BENZ C300    3.0    6  Auto-L7   2WD   ethanol    small car
986  MERCEDES-BENZ C300    3.0    6  Auto-L7   2WD       gas    small car

     air_pollution_score  city_mpg  hwy_mpg  cmb_mpg  greenhouse_gas_score  \
0                    7.0      15.0     20.0     17.0                     4
1                    7.0      17.0     22.0     19.0                     5
2                    7.0      16.0     24.0     19.0                     5
3                    7.0      18.0     26.0     21.0                     6
4                    7.0      17.0     26.0     20.0                     6
..                   ...       ...      ...      ...                   ...
982                  7.0      14.0     20.0     16.0                     4
983                  7.0      14.0     20.0     16.0                     4
984                  7.0      13.0     19.0     15.0                     3
985                  6.0      13.0     19.0     15.0                     7
986                  4.0      18.0     25.0     21.0                     6

    smartway
0         no
1         no
2         no
3        yes
4        yes
..       ...
982       no
983       no
984       no
985       no
986       no

[987 rows x 13 columns]>

In [8]:
dfcl18.info

<bound method DataFrame.info of                   model  displ  cyl       trans drive         fuel  \
0             ACURA RDX    3.5    6  SemiAuto-6   2WD     Gasoline
1             ACURA RDX    3.5    6  SemiAuto-6   4WD     Gasoline
2             ACURA TLX    2.4    4       AMS-8   2WD     Gasoline
3             ACURA TLX    3.5    6  SemiAuto-9   2WD     Gasoline
4             ACURA TLX    3.5    6  SemiAuto-9   4WD     Gasoline
..                  ...    ...  ...         ...   ...          ...
827  TOYOTA Sequoia FFV    5.7    8  SemiAuto-6   4WD          Gas
828   TOYOTA Tundra FFV    5.7    8  SemiAuto-6   4WD          Gas
829           VOLVO S90    2.0    4  SemiAuto-8   4WD  Electricity
830         VOLVO XC 60    2.0    4  SemiAuto-8   4WD  Electricity
831         VOLVO XC 90    2.0    4  SemiAuto-8   4WD  Electricity

        veh_class  air_pollution_score  city_mpg  hwy_mpg  cmb_mpg  \
0       small SUV                  3.0      20.0     28.0     23.0
1       small SUV                  3.0      19.0     27.0     22.0
2       small car                  3.0      23.0     33.0     27.0
3       small car                  3.0      20.0     32.0     24.0
4       small car                  3.0      21.0     30.0     24.0
..            ...                  ...       ...      ...      ...
827  standard SUV                  5.0      13.0     17.0     14.0
828        pickup                  5.0      13.0     17.0     15.0
829   midsize car                  7.0      70.0     72.0     71.0
830     small SUV                  7.0      60.0     58.0     59.0
831  standard SUV                  7.0      63.0     61.0     62.0

     greenhouse_gas_score smartway
0                       5       No
1                       4       No
2                       6       No
3                       5       No
4                       5       No
..                    ...      ...
827                     1       No
828                     2       No
829                    10    Elite
830                    10    Elite
831                    10    Elite

[832 rows x 13 columns]>