# 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [1]:
import numpy as np
import pandas as pd

In [2]:
a=pd.Series([1,2,3,4])
a

0    1
1    2
2    3
3    4
dtype: int64

# 2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [3]:
b=list(a)
type(b)

list

# 3. Write a Pandas program to add, subtract, multiple and divide two Pandas
Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [4]:
a=pd.Series([2, 4, 6, 8, 10])
b=pd.Series([1,3,5,7,9])
c=a+b
c

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [5]:
d=a-b
d

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [6]:
e=a*b
e

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [7]:
f=a/b
f

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas
Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [8]:
a=pd.Series([2, 4, 6, 8, 10])
b=pd.Series([1,3,5,7,10])
a==b

0    False
1    False
2    False
3    False
4     True
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series.

In [9]:
d1={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
a=pd.Series(d1,index=d1)
a

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [10]:
a=np.array([10, 20, 30, 40, 50])
b=pd.Series(a)
b

0    10
1    20
2    30
3    40
4    50
dtype: int64

7. Write a Pandas program to change the data type of given a column or a
Series.

In [11]:
a=pd.Series([100,200,"python",300.12,400])
a.info()

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      object
dtypes: object(1)
memory usage: 172.0+ bytes

In [12]:
pd.to_numeric(a,errors="coerce")

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a
Series.

In [13]:
a=pd.DataFrame([[1,4,7],[2,5,5],[3,6,8],[4,9,12],[7,5,1],[11,0,11]],columns=["col1","col2","col3"])
a

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [14]:
d=a["col1"]
d

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [15]:
d.info()

<class 'pandas.core.series.Series'>
RangeIndex: 6 entries, 0 to 5
Series name: col1
Non-Null Count  Dtype
--------------  -----
6 non-null      int64
dtypes: int64(1)
memory usage: 180.0 bytes

9. Write a Pandas program to convert a given Series to an array.

In [16]:
a=pd.Series([100,200,"python",300.12,400])
b=a.to_numpy()
b

array([100, 200, 'python', 300.12, 400], dtype=object)

10. Write a Pandas program to convert Series of lists to one Series.

In [17]:
a=pd.Series([["Red","Green", "White"],["Red", "Black"],["Yellow"]])
a

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [18]:
a=a.apply(pd.Series).stack().reset_index(drop=True)
a

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

11. Write a Pandas program to sort a given Series.

In [19]:
a=pd.Series(["100","200","python","300.12","400"])

a.sort_values()

0       100
1       200
3    300.12
4       400
2    python
dtype: object

12. Write a Pandas program to add some data to an existing Series.

In [20]:
a=pd.Series(["100","200","python","300.12","400"])
b=pd.Series(["500"])
c=pd.concat([a,b])
c

0       100
1       200
2    python
3    300.12
4       400
0       500
dtype: object

# Q13. Write a Pandas program to create a subset of a given series based on value and condition.

In [21]:
data=[1,2,3,4,5,6,7,8,9,0]
series=pd.Series(data)
print(series[2])

3

In [22]:
series[(series>2) & (series<6)]

2    3
3    4
4    5
dtype: int64

# Q14. Write a Pandas program to change the order of index of a given series.

In [23]:
data={'A':1,'B':2,'C':3,'D':4,'E':5}
series=pd.Series(data)
series

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [24]:
series=series.reindex(['B','A','C','D','E'])
series

B    2
A    1
C    3
D    4
E    5
dtype: int64

# Q15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [25]:
data=[1,2,3,4,5,6,7,8,9,10]
series=pd.Series(data)
series.mean()

5.5

In [26]:
series.std()

3.0276503540974917

# Q16. Write a Pandas program to get the items of a given series not present in another given series.

In [27]:
data_1=[1,2,3,4,5]
data_2=[2,4,6,8,10]
series_1=pd.Series(data_1,index=["a","b","c","d","e"])
series_2=pd.Series(data_2,index=["a","b","c","d","e"])

In [28]:
series_3=[x for x in data_1 if x not in data_2]
series_3

[1, 3, 5]

17. Write a Pandas program to get the items which are not common of two given series.

In [29]:
series_3=pd.Series([x for x in data_1 if x  in data_2])
print(series_3)
series_4=pd.concat([series_1,series_2],ignore_index=True)
series_4

0    2
1    4
dtype: int64

0     1
1     2
2     3
3     4
4     5
5     2
6     4
7     6
8     8
9    10
dtype: int64

In [30]:
intersect=pd.Series(np.intersect1d(series_3,series_4))
intersect

0    2
1    4
dtype: int64

In [31]:
notcommon=series_4[-series_4.isin(intersect)]
notcommon

0     1
2     3
4     5
7     6
8     8
9    10
dtype: int64

# 18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [32]:
import random
lst1=[]
for i in range(20):
    random_float=random.random()
    random_int=random.randint(0,10)
    random_number=random_float+random_int
    lst1.append(random_number)
lst1

[2.1759404057957292,
 6.8946969284476225,
 1.5365357213523416,
 7.7025178092763475,
 10.981333654872435,
 5.558560453230106,
 0.1793201047051094,
 1.5127094431170778,
 6.6225769627550415,
 5.804070775013735,
 7.694011189930064,
 7.794951684906281,
 7.836471450228741,
 2.591492167321151,
 3.470983924945597,
 8.760500299634492,
 0.8382179047742399,
 5.078966245183002,
 6.382203980495809,
 10.26171769727778]

In [33]:
series_random=pd.Series(lst1)
series_random

0      2.175940
1      6.894697
2      1.536536
3      7.702518
4     10.981334
5      5.558560
6      0.179320
7      1.512709
8      6.622577
9      5.804071
10     7.694011
11     7.794952
12     7.836471
13     2.591492
14     3.470984
15     8.760500
16     0.838218
17     5.078966
18     6.382204
19    10.261718
dtype: float64

In [34]:
maximum_number=series_random.max()
maximum_number

10.981333654872435

In [35]:
minimum_number=series_random.min()
minimum_number

0.1793201047051094

In [36]:
median_number=series_random.median()
median_number

6.093137377754772

In [37]:
q1_percentile=series_random.quantile(.25)
q1_percentile

2.4876042269397955

In [38]:
q3_percentile=series_random.quantile(.75)
q3_percentile

7.725626278183831

# 19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [39]:
a=pd.Series([23,65,23,45,87,89,65,23,76,87])

In [40]:
b=a.value_counts()
b

23    3
65    2
87    2
45    1
89    1
76    1
dtype: int64

# 20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

In [41]:
max=b.max()
max

3

In [42]:
c=b[a.value_counts()!=a.value_counts().max]
c

23    3
65    2
87    2
45    1
89    1
76    1
dtype: int64

In [43]:
#Pending

# Q21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [44]:
data=pd.Series([1,9,8,6,9,7,1,1,1])
data

0    1
1    9
2    8
3    6
4    9
5    7
6    1
7    1
8    1
dtype: int64

In [45]:
data_multiple=data[data%5==0]
data_multiple

Series([], dtype: int64)

# Q22. Write a Pandas program to extract items at given positions of a given series.

In [52]:
data=pd.Series(random.randint(0,50))
data[0]

3

# Q23. Write a Pandas program to get the positions of items of a given series in another given series.

In [ ]:
#Pending

# Q24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

In [56]:
series=pd.Series(['php','python','java','c#'])
series_capital=series.map(lambda x:x[0].upper()+x[1:-1]+x[-1].upper())
series_capital

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

# Q25. Write a Pandas program to calculate the number of characters in each word in a given series.

In [58]:
series=pd.Series(['php','python','java','c#'])
series_world_count=series.map(lambda x:len(x))
series_world_count

0    3
1    6
2    4
3    2
dtype: int64

# Q26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.